<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>

     <header>
        
        <div class="nav">
            <a href="" class="home">
                <img src="img/logo.png" width="150px" alt="">
            </a>

            <a href="" class="menu">Fidget Cubes</a>
            <a href="" class="menu">Fidget Spinners</a>
            <a href="" class="menu">Shop</a>
            <a href="" class="menu">Contact Us</a>

            <a href="" class="carro">
                <img src="img/iconocar.png" width="40px" alt="">
            </a>
        </div>
    </header>
    
    <h1>Checkout</h1>
    <h2>Carrito: <span class="carrito">0</span></h2>

    <ul class="lista"></ul>
    

    <script src="js/cliente.js"></script>
    <script src="js/checkout.js"></script>
</body>
</html>