$pink: #B83664;
$gray: #DDDDDD;
$green: #82BB57;
$blue: #71CAFB;
$yellow: #F8CA5F;
$black: #4D4D4D;
$fuente_titulo: 'Roboto',
sans-serif;
$fuente_parrafo: 'Open Sans Condensed',
sans-serif;
$color_primario: #00DCBC;

.all {
    padding-top: 100px;
    .generalContainer{
        
    }
}
